# ClickUp
CLICKUP_API_TOKEN=seu_token
CLICKUP_LIST_ID=lista_id

# Trello
TRELLO_API_KEY=sua_api_key
TRELLO_TOKEN=seu_token
TRELLO_BOARD_ID=id_do_quadro
TRELLO_DEFAULT_LIST_ID=id_da_lista_padrao

# Asana
ASANA_TOKEN=seu_token_pessoal
ASANA_DEFAULT_PROJECT_ID=id_do_projeto

# Freedcamp
FREEDCAMP_API_KEY=sua_api_key
FREEDCAMP_DEFAULT_PROJECT_ID=id_do_projeto
