CLICKUP_API_TOKEN=seu_token
CLICKUP_LIST_ID=lista_id

PLANE_API_TOKEN=seu_token
PLANE_BASE_URL=https://app.plane.so/api

WEKAN_API_URL=http://localhost:8080/api
WEKAN_USER_ID=seu_user_id
WEKAN_API_TOKEN=seu_token

KANBOARD_API_URL=http://localhost:8000/api
KANBOARD_USERNAME=admin
KANBOARD_PASSWORD=admin
